<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</head>
<body>
    <h2>Admin Dashboard - All Users</h2>
    
    <h3>Users List</h3>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>All Job Listings</h3>
    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Description</th>
                <th>Applicants</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td><a href="{{ url_for('view_applicants', job_id=job.id) }}">View Applicants</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
